@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;

}


html,body{
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
  color: white;
}

.hidden{
  display: none;
}


.b{
  width: 100%;
  transition: transform ease .4s;
  padding: 0 20px;

}

.b:hover{
  transform: scale(1.3);
}

.hidden{
  display: none;
}


.active{
  background-color: #614DE2;
}